{% extends "base/main.html" %}

{% block content %}



<div class="flex flex-col w-3/5 mx-auto mt-12">
    <div class="overflow-x-auto sm:mx-0.5 lg:mx-0.5">
      <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
        <div class="overflow-hidden">
          <table class="min-w-full">
            <thead class="bg-gray-200 border-b">
              <tr>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  Number
                </th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  Title
                </th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  Amount
                </th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  Type
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"></td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    <a href="{% url 'detailview' transaction.id%}"> {{ transaction.title }} </a>
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    {{ transaction.amount }}
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    {{ transaction.category}}
                </td>
              </tr>
             </tbody>
          </table>
        </div>
      </div>
    </div>

<div class="mx-auto flex gap-x-2">
    <a href="{% url 'updateview' transaction.id %}">
    <div class=" mt-10 w-16 h-16 flex items-center justify-center rounded-full bg-indigo-500 hover:bg-indigo-600 hover:cursor-pointer">
          <span class="text-white text-2xl font-bold"><i class="fa fa-pencil" aria-hidden="true"></i>
            </span>
        
            
        </div>
    </a>
    
    <a href="{% url 'deleteview' transaction.id %}">
        <div class=" mt-10 w-16 h-16 flex items-center justify-center rounded-full bg-red-500 hover:bg-red-600 hover:cursor-pointer">
          <span class="text-white text-2xl font-bold">
                 <i class="fa fa-trash text-white"></i>
          </span>
        </div>
    </a>
    <a href="{% url 'listview' %}">
        <div class=" mt-10 w-16 h-16 flex items-center justify-center rounded-full bg-indigo-500 hover:bg-indigo-600 hover:cursor-pointer">
          <span class="text-white text-2xl font-bold">
            <i class="text-white fa fa-house"></i> </span>
        </div>
    </a>
    
</div>




























<!-- 
<table style="border-spacing: 30px;">
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td> Title: </td>
        <td> {{transaction.title }}</td>
    </tr>
    <tr>
        <td> Amount: </td>
        <td> {{transaction.amount }} </td>
    </tr>
    <tr>
        <td> Type: </td>
        <td> {{transaction.category}} </td>
    </tr>
</table>
<table>
    <tr>
        <td><a href="{% url 'listview' %}"><button> HomePage </button></a></td>
        <td> <a href="{% url 'updateview' transaction.id %}"><button> &nbsp Update</button></a></td>
        <td> <a href="{% url 'deleteview' transaction.id %}"> <button>&nbsp; Delete</button></a></td>
    </tr>
</table> -->
{% endblock %}